 <footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
            <div class="wrapper">
                <a href="tel:7738910992" class="fancy-button bg-gradient3">
                    <span><i class="icon-phone2"></i>Call to Order</span>
                </a>
            </div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Maurya Bhaji-wala</h2>
              <p>Maurya-Bhaji-wala Online is your online store of all fresh
                  Fruits & Vegetables. Our goal is clear,
                  we wish to save our valuable customer time, money and petrol.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
                <li class="ftco-animate">
                <a href="https://twitter.com/anilkum45908600?s=08" target="_blank"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate">
                <a href="https://www.facebook.com/mauryaanil639" target="_blank"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate">
                <a href="https://instagram.com/anilkumar2007?igshid=13liuit4up87j" target="_blank"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="/shop" class="py-2 d-block">Shop</a></li>
                <li><a href="/about" class="py-2 d-block">About</a></li>
<!--                <li><a href="#" class="py-2 d-block">Journal</a></li>-->
                <li><a href="/contact" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="/contact" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span>
                  <span class="text">Shop 3,Shiv shakti nagar,near ST.Agnes School,Navghar road , Bhayandar East</span></li>
	                <li><a href="tel:+91 77389 10992"><span class="icon icon-phone"></span>
                  <span class="text">+91 77389 10992</span></a></li>
	                <li><a href="mailto:kkmaurya.0095@gmail.com"><span class="icon icon-envelope"></span>
                  <span class="text"><%= email%></span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved By Maurya bhaji-Wala | This Site is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="#" target="_blank">Kishan Maurya</a>
			</p>
              <article>
                  <marquee behavior="scroll" direction="left">
                      <span>Shop 3,Shiv shakti nagar,near ST.Agnes School,Navghar road ,
                      Bhayandar East Mumbai, कॉल करे हमारे नंबर : <a href="tel: <%= phone %>">7738910992</a></span>
                  </marquee>
              </article>

          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <div class="phone-call">
    <a href="tel:+91 7738910992">
    <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Call Now" title="Call Now">
    </a>
  </div>

 <style>
     /* Mixins */
     /* bg shortcodes */
     .bg-gradient1 span,
     .bg-gradient1:before {
         background: #52A0FD;
         background: -webkit-gradient(linear, left top, right top, from(#52A0FD), color-stop(80%, #00e2fa), to(#00e2fa));
         background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
     }

     .bg-gradient2 span,
     .bg-gradient2:before {
         background: #44ea76;
         background: -webkit-gradient(linear, left top, right top, from(#44ea76), color-stop(80%, #39fad7), to(#39fad7));
         background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
     }

     .bg-gradient3 span,
     .bg-gradient3:before {
         background: #fa6c9f;
         background: -webkit-gradient(linear, left top, right top, from(#fa6c9f), color-stop(80%, #ffe140), to(#ffe140));
         background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
     }

     /* General */
     .wrapper {
         margin: 5% auto;
         text-align: center;
         -webkit-transform-style: perserve-3d;
         transform-style: perserve-3d;
         perspecive: 800px;
     }

     a {
         text-decoration: none;
     }
     a:hover, a:focus, a:active {
         text-decoration: none;
     }

     /* fancy Button */
     .fancy-button {
         display: inline-block;
         margin: 30px;
         font-family: 'Montserrat', Helvetica, Arial, sans-serif;
         font-size: 17px;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #ffffff;
         position: relative;
     }
     .fancy-button:before {
         content: '';
         display: inline-block;
         height: 40px;
         position: absolute;
         bottom: -5px;
         left: 30px;
         right: 30px;
         z-index: -1;
         border-radius: 30em;
         -webkit-filter: blur(20px) brightness(0.95);
         filter: blur(20px) brightness(0.95);
         -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
         -webkit-transition: all 0.3s ease-out;
         transition: all 0.3s ease-out;
     }
     .fancy-button i {
         margin-top: -1px;
         margin-right: 20px;
         font-size: 1.265em;
         vertical-align: middle;
     }
     .fancy-button span {
         display: inline-block;
         padding: 18px 60px;
         border-radius: 50em;
         position: relative;
         z-index: 2;
         will-change: transform, filter;
         -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
         -webkit-transition: all 0.3s ease-out;
         transition: all 0.3s ease-out;
     }
     .fancy-button:focus, .fancy-button:active {
         color: #ffffff;
     }
     .fancy-button:hover {
         color: #ffffff;
     }
     .fancy-button:hover span {
         -webkit-filter: brightness(1.05) contrast(1.05);
         filter: brightness(1.05) contrast(1.05);
         -webkit-transform: scale(0.95);
         transform: scale(0.95);
     }
     .fancy-button:hover:before {
         bottom: 0;
         -webkit-filter: blur(10px) brightness(0.95);
         filter: blur(10px) brightness(0.95);
     }
     .fancy-button.pop-onhover:before {
         opacity: 0;
         bottom: 10px;
     }
     .fancy-button.pop-onhover:hover:before {
         bottom: -7px;
         opacity: 1;
         -webkit-filter: blur(20px);
         filter: blur(20px);
     }
     .fancy-button.pop-onhover:hover span {
         -webkit-transform: scale(1.04);
         transform: scale(1.04);
     }
     .fancy-button.pop-onhover:hover:active span {
         -webkit-filter: brightness(1) contrast(1);
         filter: brightness(1) contrast(1);
         -webkit-transform: scale(1);
         transform: scale(1);
         -webkit-transition: all 0.15s ease-out;
         transition: all 0.15s ease-out;
     }
     .fancy-button.pop-onhover:hover:active:before {
         bottom: 0;
         -webkit-filter: blur(10px) brightness(0.95);
         filter: blur(10px) brightness(0.95);
         -webkit-transition: all 0.2s ease-out;
         transition: all 0.2s ease-out;
     }
 </style>
  <!-- GetButton.io widget -->
 <script>
     function goBack() {
         window.history.back();
     }



 </script>
 
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+91 7738910992", 
            call_to_action: "सब्जी  आर्डर के लिए ",
            position: "right",
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
    
  </body>
</html>