<% include header %>

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-6 ftco-animate text-center back-shadow">
                <p class="breadcrumbs text-dark">
                    <span class="mr-2">
                        <a href="/" class="">Home</a>
                        <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="mr-2">
                        <a href="/product-22" class="">Product</a>
                    </span>
                    <span>CUCUMBER
(खीरा)</span>
                </p>
                <h1 class="mb-0 bread">CUCUMBER
                    (खीरा)</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="images/product-21.jpg" class="image-popup">
                    <img src="images/product-21.jpg" class="img-fluid" alt="शिमला मिर्च">
                </a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>CUCUMBER
                    (खीरा)</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">5.0</a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span>Price as per market rates </span></p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until.
                </p>
                <div class="row mt-4">
                    <div class="w-100"></div>
                </div>
                <p><a href="tel: <%= phone %>" class="btn btn-black py-3 px-5">Call  to  Order </a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section1">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Products</span>
                <h2 class="mb-4">Related Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-1.jpg" alt="product-22">
                        <span class="status">30%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Bell Pepper <br> (शिमला मिर्च )</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price">
                                    <span class="mr-2 price-dc">
                                    </span><span class="price-sale"></span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="/product-1" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-2.jpg" alt="product-22">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Strawberry <br> (स्ट्राबेरी)</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price">
                                    <span class="mr-2 price-dc">
                                    </span><span class="price-sale"></span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="/product-2" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-3.jpg" alt="product-22">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Green Beans <br> (हरी सेम)  </a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price">
                                    <span class="mr-2 price-dc">
                                    </span><span class="price-sale"></span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="/product-3" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-4.jpg" alt="product-22">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Purple Cabbage <br> (बैंगनी गोभी )</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price">
                                    <span class="mr-2 price-dc">
                                    </span><span class="price-sale"></span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="/product-4" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="slider" id="slider">
                <div class="slide" id="slide">
                    <a href="/product-1" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-1.jpg">
                    </a>
                    <a href="/product-2" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-2.jpg">
                    </a>
                    <a href="/product-3" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-3.jpg">
                    </a>
                    <a href="/product-4" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-4.jpg">
                    </a>
                    <a href="/product-5" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-5.jpg">
                    </a>
                    <a href="/product-6" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-6.jpg">
                    </a>
                    <a href="/product-7" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-7.jpg">
                    </a>
                    <a href="/product-8" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-8.jpg">
                    </a>
                    <a href="/product-9" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-9.jpg">
                    </a>
                    <a href="/product-10" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-11.jpg">
                    </a>
                    <a href="/product-11" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-12.jpg">
                    </a>
                    <a href="/product-12" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-13.jpg">
                    </a>
                    <a href="/product-13" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-14.jpg">
                    </a>
                    <a href="/product-14" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-15.jpg">
                    </a>
                    <a href="/product-15" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-16.jpg">
                    </a>
                    <a href="/product-16" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-17.jpg">
                    </a>
                    <a href="/product-17" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-18.jpg">
                    </a>
                    <a href="/product-18" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-19.jpg">
                    </a>
                    <a href="/product-19" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-20.jpg">
                    </a>
                    <a href="/product-20" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-21.jpg">
                    </a>
                    <a href="/product-21" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-22.jpg">
                    </a>
                    <a href="/product-22" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-23.jpg">
                    </a>
                    <a href="/product-23" class="mr-2 shadow-sm">
                        <img class="item " src="images/slider/product-24.jpg">
                    </a>
                </div>
                <button class="ctrl-btn pro-prev"><i class="fas fa-chevron-left text-white"></i></button>
                <button class="ctrl-btn pro-next"><i class="fas fa-chevron-right text-white"></i></button>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .back-shadow{
        border-radius: 8px;
        padding-top: 50px;
        padding-bottom: 50px;
        background: linear-gradient(45deg, #343a404d, #00000066);
    }
    .slider {
        width: 100%;
        height: 200px;
        position: relative;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider .slide {
        display: flex;
        position: absolute;
        left: 0;
        transition: 0.3s left ease-in-out;
    }

    .slider .item {
        margin-right: 10px;
    }

    .slider .item:last-child {
        margin-right: 0;
    }

    .ctrl {
        text-align: center;
        margin-top: 5px;
    }

    .ctrl-btn {
        border-radius: 65px;
        padding: 12px 5px;
        min-width: 50px;
        background: #82AE46;
        border: none;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        outline: none;

        position: absolute;
        top: 50%;
        margin-top: -27.5px;
    }

    .ctrl-btn.pro-prev {
        left: 0;
    }

    .ctrl-btn.pro-next {
        right: 0;
    }

</style>
<script>
    "use strict";

    productScroll();

    function productScroll() {
        let slider = document.getElementById("slider");
        let next = document.getElementsByClassName("pro-next");
        let prev = document.getElementsByClassName("pro-prev");
        let slide = document.getElementById("slide");
        let item = document.getElementById("slide");

        for (let i = 0; i < next.length; i++) {
            //refer elements by class name

            let position = 0; //slider postion

            prev[i].addEventListener("click", function() {
                //click previos button
                if (position > 0) {
                    //avoid slide left beyond the first item
                    position -= 1;
                    translateX(position); //translate items
                }
            });

            next[i].addEventListener("click", function() {
                if (position >= 0 && position < hiddenItems()) {
                    //avoid slide right beyond the last item
                    position += 1;
                    translateX(position); //translate items
                }
            });
        }

        function hiddenItems() {
            //get hidden items
            let items = getCount(item, false);
            let visibleItems = slider.offsetWidth / 210;
            return items - Math.ceil(visibleItems);
        }
    }

    function translateX(position) {
        //translate items
        slide.style.left = position * -210 + "px";
    }

    function getCount(parent, getChildrensChildren) {
        //count no of items
        let relevantChildren = 0;
        let children = parent.childNodes.length;
        for (let i = 0; i < children; i++) {
            if (parent.childNodes[i].nodeType != 3) {
                if (getChildrensChildren)
                    relevantChildren += getCount(parent.childNodes[i], true);
                relevantChildren++;
            }
        }
        return relevantChildren;
    }

</script>

<script>

    $(document).ready(function(){

        var quantitiy=0;
        $('.quantity-right-plus').click(function(e){

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if(quantity>0){
                $('#quantity').val(quantity - 1);
            }
        });

    });

</script>

<% include footer %>